$duration: .2s;
.layout{
  display: flex;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  grid-template-rows: auto 1fr;
  grid-template-areas: "appbar"
  "content";
  grid-column-gap: 0;
  gap: 0;
  .logo{
    margin: 0;
    display:flex;
    align-items:flex-start;
    //gap:1rem;
    padding:.5rem 1rem;
    font-family: "Roboto", sans-serif;
    svg{
      flex:none;

      transform:scale(.8);
      path {
        fill: #333;
      }
      rect {
        stroke: #333;
        fill: none;
      }
    }
  }

  padding: 0;
    .appBar{
      grid-area: appbar;
    }
    .content {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-areas: "main"
      "navbar";
      grid-area: maincontent;

      overflow: hidden;
      main{
        grid-area: main;
        place-self: stretch;

      }
      nav{
        grid-area: navbar;
      }
    }
    .navigation {
      padding: 0;
      //width: 100%;
      background: transparent;
    }
.contentWrapper{
  display:grid;
  grid-template-rows: auto 1fr auto;
grid-template-areas: "topbar"
"maincontent"
"bottombar";
  flex:1;
  margin-left:0;
  transition: margin-left $duration ease-in-out;
  &.collapsed{
    //margin-left:-360px;
  }
}
}
.body {
  grid-area: body;
  background: transparent;
  color: #333;
  padding: 1.618rem;
  font-family: Roboto, sans-serif;

  @media(min-width: 0) {
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "appbar content";
}
//@media(min-width: 600px) {
//  grid-template-rows: auto 1fr;
//  grid-template-areas: "appbar appbar content";
//}
//@media(min-width: 1240px) {
//  grid-template-rows: auto 1fr;
//  grid-template-areas: "appbar"
//  "content";
//  .body {
//    margin-left: 0;
//  }
//}
//[breakpoints.MEDIUM.query]: {
//  gridTemplateRows: auto 1fr,
//  gridTemplateAreas: `appbar
//  content`,
//.body: {
//  marginLeft: 360px,
//},
//},
//[breakpoints.LARGE.query]: {
//  gridTemplateRows: auto 1fr,
//  gridTemplateAreas: `appbar
//  content`,
//},
//&.drawer {
//[breakpoints.EXTRA_SMALL.query]: {
//  gridTemplateRows: auto 1fr,
//  gridTemplateAreas: `appbar
//  content`,
//},
//},
}
