.tabContent{
  padding: 1rem;
}
.firstTab{
  background: hsl(210, 60%, 60%);
  color:white;
}
.secondTab{
  background: hsl(210, 60%, 40%);
  color:white;
}
.thirdTab{
  background: hsl(250, 60%, 60%);
  color:white;
}