$line-color: #999;
$grid-size: 12px;
.componentCanvas{
  flex:1;
  display: flex;
  overflow: hidden;
  padding:1.618rem;
  background-color: #ccc;
  //background-image: linear-gradient(to left, white, white), linear-gradient(to left, $line-color, $line-color);
  background-image: linear-gradient(to right, $line-color 1px, transparent 1px ), linear-gradient(to bottom, $line-color 1px, transparent 1px);
  background-size: $grid-size $grid-size;
}
